body {
    font: 12pt arial;
    background-color: rgb(84, 126, 204);
}

h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-variant: small-caps;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.507);
}
section {
    width: 45vw;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(32, 32, 32, 0.822);
}
select {
    width: 10vw;
}
footer {
    text-align: center;
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.61);
}
div#resultado {
    padding-left: 30px;
    padding-bottom: 20px;
}
section>div:first-child {
    padding: 15px;
}